<section class="visible-md visible-lg">
  <hr>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
  <div class="short-about">
    {% if site.sidebar-avatar %}
    <img src="{{site.sidebar-avatar}}" />
    {% endif %}
    {% if site.sidebar-about-description %}
    <p id="sidebar-about-description">{{site.sidebar-about-description}}</p>
    {% endif %}
    <!-- SNS Link -->
    {% include sns-links.html %}
  </div>
  
</section>
{% if site.sidebar-about-description %}
<script>
  var description='{{site.sidebar-about-description}}';
  (function () {
    document.querySelector('#sidebar-about-description').innerText=description
  })();
</script>
{% endif %}